body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f4f6;
}

header {
  background: #e684cf;
  color: white;
  text-align: center;
  padding: 15px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  text-decoration: underline;
  color: #cbd5e1;
}

section {
  background: white;
  width: 60%;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  color: #602c5c;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background: rgb(201, 83, 109);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #1e40af;
  transform: scale(1.05);
}

footer {
  background: #1e3a8a;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}
 